#root,body {
  margin: 0px;
}

.App-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.App-header {
  background-color: #ffeee6;
  height: 30px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#Main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #F6F6F6;
}

.App-list {
  width: 30%; 
  height: 100%; 
  background-color: #F6F6F6;
  text-align: left;
}


li:hover {
  cursor: pointer;
}

#Coffee-search {
  border-color: #D7D7D7;
  border-width: 10pt;
  width: 100%;
  height: 20px;
}

.Map-container {
  width:70%;  
  height: 110%;
}

.App-footer {
  background-color: #ffeee6;
  /*height: 20px;
  padding: 20px;
  color: black;
  position: relative;*/
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 1.5em;
  
  
}




@media only screen and (min-width: 387px) and (max-width: 699px) {
  
.App-header {
    padding: 10px;
  }

  .App-footer {
   
    font-size: 1em;
  }

  .App-title {
    font-size: 1em;
  }

  .venue-list {
  font-size: 0.5em; 
  text-align: left;
  }

  }

@media only screen and (max-width: 386px) {
  .App-header {
    padding: 10px;
  }

  .App-footer {
   
    font-size: .75em;
  }

  .App-title {
    font-size: 0.75em;
  }

  #Coffee-search {
    font-size: 0.5em;
    width: 75%;
    height: 10px;
}

.venue-list {
  font-size: 0.5em; 
  text-align: left;
}

  
}