#root,body {
  margin: 0px;
}

.App-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.App-header {
  background-color: #ffeee6;
  height: 30px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#Main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 83vh;
}

.App-list {
  width: 25%; 
  height: 100%; 
  background-color: #F6F6F6;
  
}
/*
.search-list {
  width: 100%;
  height: 100%;
  border-color: black;
  border-width: 100pt;
}*/

li:hover {
  cusor: pointer;
}

#Coffee-search {
  border-color: #D7D7D7;
  border-width: 10pt;
  width: 100%;
  height: 20px;
}

.Map-container {
  width:75%;  
  height: 100%;
}

.App-footer {
  background-color: #ffeee6;
  height: 20px;
  padding: 20px;
  color: black;
  position: relative;
  font-size: 1.5em;

  
}


