#root {
  height: 100%;
}

.App-container {
  text-align: center;
  height: 100%;
  width:  100%;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App-list {
  width: 25%; 
  height: 100%;  
}

#coffeeSearch {
  /*border-color: black;
  border-width: 5pt;*/
}

.Map-container {
  width:75%;    
}

.App-footer {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
  position: relative;
  
}


